
/* shop content */
.shop-content{
    margin: 5em auto;
}

.shop-content .products-category{
    margin-bottom: 2.5em;
}

.shop-content .products-category li{
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    margin: 0 12px;
}

.shop-content .products-category li:hover{
    background: #ecffd1;
    border-radius: 16px;
}

.shop-content .products-category li .tabItem{    
    font-size: 16px;
    color: #82ae46;
    padding: 5px 20px;
}

.shop-content .products-category li .active{
    background: #82ae46;
    color: #fff;
    border-radius: 16px;
}

/* agricultural product */

.agri-item{
    display: block;
    width: 100%;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    border: 1px solid #f0f0f0;
    position: relative;
    border-radius: 8px;
}

.agri-item .sale{
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 10px;
    color: #fff;
    font-weight: 300;
    background: #82ae46;
    font-size: 12px;
    border-radius: 8px 0px 8px 0px;
}

.agri-item .agri-img{
    position: relative;
}

.agri-item .agri-img .detail{
    position: absolute;
    right: 35%;
    top: 35%;
    left: 35%;
    padding: 25px 0px;
    margin: 0 auto;
    border-radius: 50%;
    width: 80px;
    text-align: center;
    background-color: #86b34880;
    border-color: #82ae46;
    opacity: 0;
}

.agri-item .agri-img:hover .detail{
    opacity: 1;
    transition: 0.3s ease-out;
}

.agri-item .agri-img img{
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
}


.agri-item .agri-img:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); 
    transition: all 0.3s ease;
    cursor: pointer;
}


.agri-item .text h3{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-family: "Poppins", Arial, sans-serif;
}

.agri-item .text .price{
    margin-bottom: 0;
    color: #82ae46;
    font-weight: 400;
    width: 100%;
}

.agri-item .text .price .price-dc{
    text-decoration: line-through;
    color: #b3b3b3;
    margin-right: 8px;
}

.agri-item .text{
    position: relative;
}

.agri-item .text .bottom-area{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.agri-item .text .bottom-area .buy-now,
.agri-item .text .bottom-area .like{
    color: #fff;
    background: #82ae46;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 2px;
}
.buy-now:hover, .like:hover{
    cursor: pointer;
}

.like:active{
    background-color: pink;
}

.agri-item:hover{
    box-shadow: 1px 1px 5px 1px #c0bebe;
}

.agri-item:hover .text .price{
    opacity: 0;
}

.agri-item:hover .text .bottom-area{
    opacity: 1;
}


/* load more btn */
.load-more-btn{
    background-color: #82ae46;
    color: #fff;
}

.load-more-btn:hover{
    color: #fff;
    background-color: #6e9e2b;
}