/* search */
.ant-input:hover, .ant-btn:hover, .ant-picker:hover{
    border-color: #82ae46 !important;
}

.ant-btn{
    background: #82ae46 !important;
    color: #fff !important;
    border-color: #82ae46 !important;
    border-radius: 16px !important;
}

.ant-btn:hover{
    background: #598120 !important;
}

/* job content */
.jobs-content{
    margin-bottom: 5em;
}

.list-jobs .card{
    margin: 20px 8px;
}

.list-jobs .card-img{
    height: 240px;
    width: 95% !important;
    margin-top: 6px;
}

.list-jobs .card-img:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); 
    transition: all 0.3s ease;
    cursor: pointer;
}

.list-jobs .card .card-body{
    background-color: #f9f9f9;
    height: 250px;
}

.list-jobs .card:hover{
    box-shadow: 1px 1px 5px 1px #c0bebe;
}

.list-jobs .detail-btn{
    margin-right: 20px;
}

.list-jobs .detail-btn,.list-jobs .getJob-btn{
    background: #82ae46;
    color: #fff;
    border-color: #82ae46;

}

.list-jobs .detail-btn:hover , .list-jobs .getJob-btn:hover{
    background: #598120;
}