.job-detail{
    margin-bottom: 6em;
}

.job-detail .job-img{
    width: 100%;
    max-height: 380px;
}

.job-content .job-status{
    font-size: 16px;
    color: red;
}

.job-content table{
    font-size: 16px;
}

.job-content .btn{
    background: #82ae46;
    border-radius: 16px;
    border-color: #82ae46;
    margin-top: 20px;
}

.job-content .btn:hover{
    background: #6e9e2b;
}