/* page img */
.page-img{
    position: relative;
}

.page-img::after{
    content: '\A';
    position: absolute;
	width: 100%;
	height: 100%;
    top:0; 
	left:0;
    background:rgba(0,0,0,0.25);
}

.page-img img{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    object-position: 50% 50%;
    position: relative;
}

.page-title .page-content{
    position: absolute;
    right: 15%;
    top: 16em;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.page-title .page-content h3{
    color: #e9e9e9;
    font-size: 16px;
}

.page-title .page-content h1{
    font-weight: bold;
    color: #fff;
}


/* section title */
.text-title{
    margin-bottom: 40px;
    margin-top: 4em;
}

.text-title h1{
    color: #82ae46;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
}

.text-title h3{
    font-size: 22px;
    font-weight: bold;
}
