body{
    margin-top: 0;
    padding: 0;
}

.bg-color-1{
    background-color: #e4b2d6;
}
.bg-color-2{
    background-color: #dcc698;
}
.bg-color-3{
    background-color: #a2d1e1;
}
.bg-color-4{
    background-color: #dcd691;
}

/* separator-line */
.separator-line{
    height: 1px;
    width: 30em;
    background-color: #ccc;
    margin: 0 auto;
    opacity: 0.5;
}


/* section title */
.text-title{
    margin-bottom: 40px;
    margin-top: 4em;
}

.text-title h1{
    color: #82ae46;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
}

.text-title h3{
    font-size: 22px;
    font-weight: bold;
}

.text-title p{
    opacity: 0.7;
}

/* ================= */
/* slider */
.carousel-item{
    height: 650px;
}

.carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-item img{                /*cách làm img tự cắt xén khi thu nhỏ màn hình*/
    height: 650px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.carousel-caption{
    bottom: 40% ;
}

.carousel-caption h1{
    font-size: 8vw;
    line-height: 1.3;
    font-family: "Amatic SC", cursive;
    color: #fff;
}

.carousel-caption .btn{
    background: #82ae46;
    border: 1px solid #82ae46;
    border-radius: 18px;
    color: #fff;
}

.carousel-caption .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.carousel-caption .btn:hover{
    border: 1px solid #82ae46;
    background: transparent;
    color: #82ae46;
}

/* service */
.service{
    padding: 6em 0;
}

.service .list-service .media .media-icon{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    position: relative;
}

.service .list-service .media .media-icon:hover{
    background-color: #82ae46;
    transition: 0.25s ease-in-out ;
}

.service .list-service .media .media-icon::after{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    content: '';
    border: 2px solid rgba(255, 255, 255, 0.19);
    border-radius: 50%;
}

.service .list-service .media .media-body h3{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.service .list-service .media .media-body span{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}

/* Vegetable */
.vegetable{
    padding-bottom: 6em;
}

 .vegetable-col .vegetable-item{
    height: 250px;
}

.vegetable-col img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

.vegetable-col .vegetable-main{
    position: relative;
}

.vegetable-col .vegetable-main .text{
    position: absolute;
    margin-top: 40px;
    width: 100%;
}

.vegetable-col .vegetable-main .text h2{
    color: #82ae46;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    font-size: 24px;
}

.vegetable-col .vegetable-main .text .btn{
    cursor: pointer;
    background: #82ae46;
    border: 1px solid #82ae46;
    color: #fff;
    border-radius: 20px;
}

.vegetable-col .vegetable-main .text .btn:hover{
    background: transparent;
    color: #82ae46;
}

.vegetable-col .vegetable-item{
    position: relative;
}

.vegetable-col .vegetable-item .text{
    position: absolute;
    background: #82ae46;
    width: 5em;
    height: 2em;
    margin-top: 13.6em;
    border-radius: 0 6px 0 0;
}

.vegetable-col .vegetable-item .text h2{
    font-size: 18px;
    color: #fff;
}

/* agricultural product */
.agricultural-product{
    margin-bottom: 3em;
}

/* fertilizer */
.fertilizer{
    margin-top: 4em;
    margin-bottom: 4em;
}